# editorconfig.org

root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[{src,tests}/{*,**/*}.php]
indent_size = 4
indent_style = space

[docs/{*,**/*}.md]
indent_size = 3
indent_style = space
